:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 130px;

  position: fixed;
  z-index: 1;

  background-color: #fff;
}
.title {
  padding: 0 10px;
}

.flex-start-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.space-between-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
}

.container {
  padding-top: 130px;
  width: 100%;
  height: 450px;

  overflow: auto;
}

select {
  margin-right: 10px;
  padding: 4px;
}

#search-input {
  padding: 4px 0;
  padding-left: 30px;
  width: 240px;
  background: no-repeat url(../assets/images/search-icon.svg);
  outline: none;
  background-size: 14px;
  background-position: 4px center;
  border-radius: 4px;
  border: solid 1px gray;
}

#edit-input {
  outline: none;
  border: none;
  border-bottom: solid 1px #a0b4f2;
}
#edit-input:focus {
  border-bottom-width: 2px;
}

table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color: #a0b4f2;
  position: sticky;
  top: 0;
}

tbody {
  height: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td.testcaseResult,
td.score {
  cursor: text;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #a0b4f2;
}

#submit-button {
  height: 36px;
  min-width: 100px;

  padding: 0px 24px;
  margin: 5px 0 5px 0;
  color: #fff;
  background-color: green;
}

#submit-button:hover {
  background-color: #06a94d;
}
