* {
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 130px;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: #fff;
}
.title {
  padding: 0 10px;
}
/* box--------------------------------------------------------------------- */
.flex-start-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.space-between-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
}

.container {
  margin-top: 130px;
  width: 100%;
  height: 450px;

  overflow: auto;
}

.report-container {
  height: 250px;
  overflow: auto;
}
/* select, input-------------------------------------------------------------- */
select {
  margin-right: 10px;
  padding: 4px;
}

#search-input {
  padding: 4px 30px;
  width: 280px;
  background: no-repeat url(../assets/images/search-icon.svg);
  outline: none;
  background-size: 14px;
  background-position: 4px center;
  border-radius: 4px;
  border: solid 1px gray;
}

#edit-input {
  display: none;
  outline: none;
  border: none;
  background-color: #fff;
  border-bottom: solid 1px #a0b4f2;

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
}
#edit-input:focus {
  border-bottom-width: 2px;
}
/* table ----------------------------------------------------------------- */
table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}
thead th {
  background-color: #a0b4f2;
  position: sticky;
  top: 0;
}

tbody {
  height: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}
tr {
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

td.testcaseResult,
td.score {
  cursor: text;
}
.show-report {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  text-align: center;
}

.show-report:hover {
  color: #a0b4f2;
}

td.errorTestcaseOrder {
  min-width: 40px;
  max-width: 40px;
}
td.testcaseDescript,
td.errorReport {
  min-width: 40px;
  max-width: 300px;
  overflow-wrap: break-word;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* button -------------------------------------------------------------- */
button {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #a0b4f2;
}

#submit-button {
  height: 36px;
  min-width: 100px;

  padding: 0px 24px;
  margin: 5px 0 5px 0;
  color: #fff;
  background-color: green;
}

#submit-button:hover {
  background-color: #06a94d;
}

/* Modal ------------------------------------------------------------ */
/* modal box*/
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  padding: 16px 40px;
  border: 1px solid #888;
  width: 50%;
  height: 400px;

  background-color: #fefefe;
}
/* add Zoom Animation */
.animate {
  -webkit-animation: animate-zoom 0.6s;
  animation: animate-zoom 0.6s;
}

@-webkit-keyframes animate-zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animate-zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
