:root {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}
thead {
    background-color: #A0b4f2;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#submit-button {
  height: 36px;
  min-width: 100px;

  padding: 0px 24px;
  margin: 5px 0 5px 0;
  border: none;
  border-radius: 6px;

  color: #fff;
  background-color: green;

  cursor: pointer;
}

#submit-button:hover {
  background-color: #06a94d;
}
